@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(#007bb2, #0d1423);
}

/* КАРТОЧКА */
.container {
	display: grid;
	margin-top: 80px;
	margin-bottom: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.card {
	position: relative;
	width: 320px;
	height: 460px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
	margin: 0 20px 0 20px;
}
.card .poster {
	position: relative;
	overflow: hidden;
}

.card .poster::before {
	content: '';
	position: absolute;
	bottom: -180px;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #1064a6 45%, transparent);
	transition: 0.5s;
	z-index: 1;
}

.card:hover .poster::before {
	bottom: 0px;
}

.card .poster img {
	width: 100%;
	transition: 0.5s;
}

.card:hover .poster img {
	transform: translateY(-50px);
	filter: blur(5px);
}
.card .details {
	position: absolute;
	bottom: -170px;
	left: 0;
	padding: 20px;
	width: 100%;
	z-index: 2;
	transition: 0.5s;
}
.card:hover .details {
	bottom: 0px;
}

.card .details .logo {
	max-width: 180px;
}
.card .details h3 {
	font-size: 0.8em;
	color: #fff;
}
.card .details .rating {
	position: relative;
	padding: 5px 0;
}
.card .details .rating .fa-star {
	color: #fff;
	font-size: 1em;
}
.card .details .rating span {
	color: #fff;
	margin-left: 5px;
}
.card .details .tags {
	position: relative;
	margin-top: 5px;
}
.card .details .tags span {
	padding: 2px 5px;
	color: #fff;
	background: #03a8f5;
	border-radius: 4px;
}
.card .details .tags span:nth-child(2) {
	background: #ff5722;
}

.card .details .tags span:nth-child(3) {
	background: #56cc4b;
}
.card .details .info {
	color: #fff;
	margin-top: 15px;
	font-size: 12px;
}
.card .details .cast {
	position: relative;
}
.card .details .cast h4 {
	color: #fff;
	margin-top: 10px;
}
.card .details .cast ul {
	position: relative;
	display: flex;
	gap: 10px;
	margin-top: 10px;
}
.card .details .cast ul li {
	list-style: none;
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #fff;
}
.card .details .cast ul li img {
	max-width: 100%;
}

.card .watch {
	position: relative;
	margin: 25px 0 0 0;
}

.card .watch a {
	text-decoration: none;
}

.card .watch span {
	display: flex;
	padding: 2px 5px;
	width: 75px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #024c6e;
	border-radius: 20px 4px 20px 4px;
}
